.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  width: 100%;
  height: 80%;
  margin:auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  canvas {
    width: 100%;
    height: 100%;

  }
}

.input-controls {
  display: flex;
  flex-direction: column;
  width: 200px;

  input,
  button {
    width: 200px;
  }
}